    {% extends "layout.html" %}
   
    {% block content %}
    
    <h1>Login</h1>

    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        <li>{{ messages }}</li>
        </ul>
        {% endif %}
        {% endwith %}
    </p>
        
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="login" action="" method="post">
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="u_name" required>
                <br>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <br class="clear">
                <input class="btn-submit" type="submit" name="submit" value="Login">
                
            </form>
            <p>If you not register yet, click on sign up!!</p>
            <a href="{{url_for('register')}}"> <button class="btn-submit">Sign Up</button></a>
        </div>
    </div>
 {% endblock %}